In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
# Initialize Documents

documentA = 'Jupiter is the largest Planet'
documentB = 'Mars is the fourth planet from the Sun'

In [5]:
# Create Bag of words for document

bagOfWordsA = documentA.split(' ')
bagOfWordsB = documentB.split(' ')

In [6]:
# create collection of unique words from document

uniqueWords = set(bagOfWordsA).union(bagOfWordsB)
uniqueWords

{'Jupiter',
 'Mars',
 'Planet',
 'Sun',
 'fourth',
 'from',
 'is',
 'largest',
 'planet',
 'the'}

In [8]:
# Create dictionary of words and their occurence for each document 

numOfWordsA = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsA :
    numOfWordsA[word] += 1
    
numOfWordsB = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsB:
    numOfWordsB[word] += 1

In [16]:
# compute the term frequency for each document 

def computeTF(wordDict, bagOfWords):
    tfDict = {}
    bagOfWordsCount = len(bagOfWords)
    for word,count in wordDict.items():
        tfDict[word] = count / float(bagOfWordsCount)
    return tfDict
tfA = computeTF(numOfWordsA, bagOfWordsA)
tfB = computeTF(numOfWordsB, bagOfWordsB)
tddf = pd.DataFrame([tfA,tfB])
tddf

   fourth  largest   Mars   from  Jupiter     is  Planet    Sun  planet   the
0   0.000      0.2  0.000  0.000      0.2  0.200     0.2  0.000   0.000  0.20
1   0.125      0.0  0.125  0.125      0.0  0.125     0.0  0.125   0.125  0.25

In [10]:
tfA

{'fourth': 0.0,
 'largest': 0.2,
 'Mars': 0.0,
 'from': 0.0,
 'Jupiter': 0.2,
 'is': 0.2,
 'Planet': 0.2,
 'Sun': 0.0,
 'planet': 0.0,
 'the': 0.2}

In [11]:
tfB

{'fourth': 0.125,
 'largest': 0.0,
 'Mars': 0.125,
 'from': 0.125,
 'Jupiter': 0.0,
 'is': 0.125,
 'Planet': 0.0,
 'Sun': 0.125,
 'planet': 0.125,
 'the': 0.25}

In [13]:
# Compute the term Inverse Document Frequency

def computeIDF(documents):
    import math
    N = len(documents)
    
    idfDict = dict.fromkeys(documents[0].keys(), 0)
    for document in documents:
        for word, val in document.items():
            if val > 0:
                idfDict[word] += 1
    for word, val in idfDict.items():
        idfDict[word] = math.log(N/float(val))
    return idfDict
idfs = computeIDF([numOfWordsA, numOfWordsB])
idfs

{'fourth': 0.6931471805599453,
 'largest': 0.6931471805599453,
 'Mars': 0.6931471805599453,
 'from': 0.6931471805599453,
 'Jupiter': 0.6931471805599453,
 'is': 0.0,
 'Planet': 0.6931471805599453,
 'Sun': 0.6931471805599453,
 'planet': 0.6931471805599453,
 'the': 0.0}

In [34]:
# Compute the term TF/IDF for all Words 

def computeTFIDF(tfBagOfWords, idfs):
    tfidf = {}
    
    for word, val in tfBagOfWords.items():
        tfidf[word] = val * idfs[word]
    return tfidf

tfidfA = computeTFIDF(tfA, idfs)
tfidfB = computeTFIDF(tfB, idfs)


df = pd.DataFrame(index)

df

,TF for A,TF for B,IDF,TFIDF(A),TFIDF(B)
0,"{'fourth': 0.0, 'largest': 0.2, 'Mars': 0.0, '...","{'fourth': 0.125, 'largest': 0.0, 'Mars': 0.12...","{'fourth': 0.6931471805599453, 'largest': 0.69...","{'fourth': 0.0, 'largest': 0.13862943611198905...","{'fourth': 0.08664339756999316, 'largest': 0.0..."