In [1]:
import pandas as pd

In [20]:
import numpy as np

In [22]:
import statistics as st

In [23]:
dataset = pd.read_csv(r'C:\Users\Dell\dsbda\housing.csv')

In [25]:
dataset.mean()

Avg. Area Income                6.858311e+04
Avg. Area House Age             5.977222e+00
Avg. Area Number of Rooms       6.987792e+00
Avg. Area Number of Bedrooms    3.981330e+00
Area Population                 3.616352e+04
Price                           1.232073e+06
dtype: float64

In [26]:
dataset.mode()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,17796.63119,2.644304,3.236194,4.38,172.610686,1.593866e+04,"000 Adkins Crescent\nSouth Teresa, AS 49642-1348"
1,35454.71466,2.683043,3.950225,NaN,3285.450538,3.114052e+04,"000 Todd Pines\nAshleyberg, KY 90207-1179"
2,35608.98624,2.797215,3.950973,NaN,3883.448164,8.859177e+04,"001 Steve Plaza\nJessicastad, UT 25190"
3,35797.32312,2.797619,3.969632,NaN,4114.489353,1.430274e+05,"0010 Gregory Loaf\nSouth Ericfort, VA 34651-0718"
4,35963.33081,2.922736,4.027931,NaN,5727.485885,1.515271e+05,"00149 Raymond Knolls\nNew Jason, UT 75026"
...,...,...,...,...,...,...,...
4995,101599.67060,8.973441,10.024375,NaN,68311.695820,2.318286e+06,Unit 9774 Box 4511\nDPO AE 44963
4996,101928.85810,8.991399,10.144988,NaN,69553.988330,2.330290e+06,Unit 9778 Box 2114\nDPO AP 59374
4997,102881.12090,9.008900,10.219902,NaN,69575.449460,2.332111e+06,Unit 9785 Box 0790\nDPO AP 60371-0797
4998,104702.72430,9.125283,10.280022,NaN,69592.040240,2.370231e+06,Unit 9831 Box 7128\nDPO AA 54705
4999,107701.74840,9.519088,10.759588,NaN,69621.713380,2.469066e+06,Unit 9871 Box 9037\nDPO AP 37275-9289

In [27]:
dataset.median()

Avg. Area Income                6.880429e+04
Avg. Area House Age             5.970429e+00
Avg. Area Number of Rooms       7.002902e+00
Avg. Area Number of Bedrooms    4.050000e+00
Area Population                 3.619941e+04
Price                           1.232669e+06
dtype: float64

In [32]:
dataset.skew()

Avg. Area Income               -0.033720
Avg. Area House Age            -0.007214
Avg. Area Number of Rooms      -0.040996
Avg. Area Number of Bedrooms    0.376240
Area Population                 0.050650
Price                          -0.002718
dtype: float64

In [33]:
dataset.std()

Avg. Area Income                 10657.991214
Avg. Area House Age                  0.991456
Avg. Area Number of Rooms            1.005833
Avg. Area Number of Bedrooms         1.234137
Area Population                   9925.650114
Price                           353117.626584
dtype: float64

In [35]:
dataset.pstdev()

AttributeError: 'DataFrame' object has no attribute 'pstdev'